# Global reviewers
* @orozery @liran @nilig @michalmalka @yankay @liu-cong

# Global owners for the entire repo
* @vMaroon @dannyharnik @elevran @kfirtoledo

# Package specific codeowners, including global owners
/preprocessing @guygir
