# Project maintainers are not listed here.
# For APPROVERS and REVIEWERS, see the OWNERS file.

# This file is utilized in order to automatically request granular reviews on PRs.
# This is temporary until team-management is easier in llm-d

# Global pings
* @vMaroon @dannyharnik @elevran @kfirtoledo @yankay

# Package specific
/preprocessing @guygir
